<!DOCTYPE html>
<html>
  <head>
    <title>EXTRATO Spring Boot</title>
    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <main>
      <div class="container">
        <h1>EXTRATO BANCÁRIO</h1>

        <table class="table-content">
          <thead>
            <tr>
              <th>#</th>
              <th>Data/Hora</th>
              <th>Operacao</th>
              <th>Valor</th>
            </tr>
          </thead>

          <tbody>
            <tr th:each="op: ${operacao}">
              <td th:text="${op.idOperacao}"></td>
              <td th:text="${op.dataHoraOperacao}"></td>
              <td th:text="${op.tipoOperacao}"></td>
              <td th:text="${op.valor}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
